.relative {
  width: 50%;
  /* border: 1px solid red; */
  background-color: white;
  position: relative;
  top: -40px;
  /* bottom: 10px; */
  left: 50%;
  /* right: 20%; */
}

h3 {
  background-color: lightgreen;
  width: 10%;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;

  position: fixed;
  bottom: 0px;
  right: 10px;
}
h1 {
  background-color: lightgreen;
  width: 40%;
  text-align: center;
  position: sticky;
  top: 0;
}
body {
  margin: 0;
  padding: 0;
}
.special {
  background-color: green;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 10;
}
.disclaimer {
  background-color: red;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 20px;
  z-index: -1;
}
