header,
ul {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

main {
  /* border: 1px solid black; */
  min-height: 100vh;
}

.grid-container {
  border: 1px solid black;
  padding: 10px;
  display: grid;
  gap: 5px 25px;
  /* column-gap: 20px;
    row-gap: 5px; */
  /* grid-: 10px; */
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container div {
  border: 1px solid red;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  /* background-color: red; */
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

aside {
  border: 1px solid black;
  min-height: 100vh;
}

.main-content {
  min-height: 100vh;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.card-container {
  border: 1px solid black;
  display: grid;
  padding: 5px;
  gap: 5px;
  grid-template-columns: auto auto auto;
}

.card {
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* .spacing { */
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1/4; */
/* } */

footer {
  /* border: 1px solid black; */
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}
